[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
argon2-cffi = "*"
django-cors-headers = "*"
django-environ = "==0.4.5"
psycopg2 = "*"
boto3 = "*"
django-tailwind = "*"

[dev-packages]

[requires]
python_version = "3.9"
